html, body {
    margin: 10;
    padding: 10;
}

.grid {
    display:flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px black;

}

.square {
    width: 20px;
    height: 20px;
}
.snake
{
    background-color:aqua ;
}
.apple
{
    background-color: red;
}